:root {
  --primary-brand-color: #4d5ae5;
}

.logo {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo2 {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.mailphone {
}

.mailphone-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mailphone:hover,
.mailphone:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-logo {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  color: #ffffff;
  background-color: var(--primary-brand-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adv-list {
}

.adv-item {
}

.spdt {
  color: #2e2f42;
}

.adv-h {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.adv-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
}

.our-team-item {
    background-color: #ffffff;
}

.our-team-h2 {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-name {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.our-team-prof {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.our-portfolio {
}

.our-portfolio-list {
  background-color: #ffffff;
}

.our-portfolio-item {
}

.our-portfolio-h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-portfolio-h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.our-portfolio-p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.foot {
  background-color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
